@inherits LayoutComponentBase
<div class=" flex-col justify-start items-start inline-flex w-full bg-gray-800 ">
    <NavMenu />
    <hr class="border-gray-600" />
    <main>
        <article>
            @Body
        </article>
    </main>
</div>
