<header class="w-full px-16 ">
	<nav class="Container self-stretch py-16 justify-between items-center flex">
		<div class="flex justify-start items-center gap-2">
			<span class="C text-cyan-400 text-[32px] font-medium font-['IBM Plex Mono'] capitalize leading-[42px]">
				&lt;G/&gt;</span>
			<p class="text-white text-[32px] font-medium font-['IBM Plex Mono'] capitalize leading-[42px]">
				@Profile?.Name
			</p>
		</div>


		<div class=" flex justify-start items-center gap-16">
			<div class="Media flex justify-start items-start gap-8">
				@foreach (var social in Socials)
				{
					<a href="@social.Link" target="_blank"
						class="flex justify-start items-center gap-2 text-white text-base font-normal font-['IBM Plex Mono'] capitalize leading-tight hover:cursor-pointer">
						<i class="fa-brands text-2xl @(social.Icon)  text-white"></i>
						@social.Name
					</a>

				}
			</div>
		</div>
	</nav>
	<div class="Line self-stretch justify-center items-center">
		<div class="Line21 grow shrink basis-0 h-[0px] border border-zinc-700"></div>
	</div>
</header>


@code {
	[CascadingParameter]
	public Models.Profile Profile { get; set; } = new Models.Profile();
	public IEnumerable<Models.Social> Socials = new List<Models.Social>();

	protected override Task OnParametersSetAsync()
	{
		if (Profile != null)
		{
			Socials = Profile.Socials.Where(s => s.Name != "Email");
		}
		else
		{
			Socials = new List<Models.Social>();
		}
		return base.OnParametersSetAsync();
	}
}
