<div class="bg-BG1 px-4 xl:px-24 flex flex-col items-center self-stretch text-white">
	<div class="flex flex-wrap py-12 justify-between items-center self-stretch text-2xl">
		<div class="text-3xl font-medium ">
			<p><span class="text-Brand1 ">&lt;C/&gt;</span> Geraldson Perez</p>
		</div>
		<div class="flex flex-wrap items-center gap-10">
			<a href="#Home">Home</a>
			<a href="#Home">Projects</a>
			<div class="relative text-black text-base">
				<input type="text" class="rounded-xl pl-3 pr-8 py-1" />
				<i class="fa fa-search absolute right-3 top-[25%]"></i>
			</div>
			<div>
				<i class="fa-brands fa-instagram text-Brand1"></i> Instagram
			</div>
			<div>
				<i class="fa-brands fa-linkedin text-Brand1"></i> LinkedIn
			</div>
			<div>
				<i class="fa-brands fa-github text-Brand1"></i> GitHub
			</div>
		</div>
	</div>

</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
