<header class="w-full px-32 flex flex-col justify-start items-center">
	<nav class="Container self-stretch py-16 justify-between items-center flex">
		<div class="flex justify-start items-center gap-2">
			<span class="C text-cyan-400 text-[32px] font-medium font-['IBM Plex Mono'] capitalize leading-[42px]">
				&lt;G/&gt;</span>
			<p class="text-white text-[32px] font-medium font-['IBM Plex Mono'] capitalize leading-[42px]">@Profile.Name
			</p>
		</div>
		<div class="NavBar flex justify-start items-center gap-16">
			<div class="Menu flex justify-start items-start gap-8">
				<a href="/"
					class="Home text-cyan-400 text-2xl font-normal font-['IBM Plex Mono'] capitalize leading-loose">
					Home</a>
				<a href="/blogs"
					class="Blogs text-white text-2xl font-normal font-['IBM Plex Mono'] capitalize leading-loose">Blogs
				</a>

			</div>
			<div class="Right flex justify-start items-center gap-16">
				<div class="Search pl-8 pr-4 py-1.5 bg-white rounded-3xl justify-start items-start flex">
					<input type="text" class="w-full h-full bg-transparent focus:outline-none" />
					<span class="material-symbols-outlined">
						search
					</span>
				</div>

				<div class="Media flex justify-start items-start gap-8">
					<a
						class="flex justify-start items-center gap-2 text-white text-base font-normal font-['IBM Plex Mono'] capitalize leading-tight hover:cursor-pointer">
						<i class="fa-brands fa-instagram text-2xl  text-white"></i>
						instagram
					</a>
					<a
						class="flex justify-start items-center gap-2 text-white text-base font-normal font-['IBM Plex Mono'] capitalize leading-tight hover:cursor-pointer">
						<i class="fa-brands fa-discord  text-2xl  text-white"></i>

						Discord

					</a>
					<a
						class=" flex justify-start items-center gap-2 text-white text-base font-normal font-['IBM Plex Mono'] capitalize leading-tight hover:cursor-pointer">
						<i class="fa-brands fa-github text-2xl  text-white"></i>

						Github

					</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="Line self-stretch justify-center items-center">
		<div class="Line21 grow shrink basis-0 h-[0px] border border-zinc-700"></div>
	</div>
</header>


@code {
    [CascadingParameter]
    public Models.Profile Profile { get; set; } = new Models.Profile();


}
