<div class="px-4 xl:px-24 about-section py-8">
	<div class="flex flex-col gap-8 text-Brand1 text-xl justify-center py-5">
		<i class="fa fa-mouse text-center"></i>
		<i class="fa-solid text-center fa-arrow-down-long"></i>
	</div>
	<div class="flex flex-col py-5 justify-center">
		<div class="flex flex-col items-center justify-center">
			<h1 class="text-Brand1 font-Ubuntu H1U">About</h1>
			<svg xmlns="http://www.w3.org/2000/svg" width="240" height="12" viewBox="0 0 240 12" fill="none">
				<path
					d="M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM228.667 6C228.667 8.94552 231.054 11.3333 234 11.3333C236.946 11.3333 239.333 8.94552 239.333 6C239.333 3.05448 236.946 0.666667 234 0.666667C231.054 0.666667 228.667 3.05448 228.667 6ZM6 7H234V5H6V7Z"
					fill="#12F7D6" />
			</svg>
		</div>
		<div class="flex flex-col gap-6">
			<div class="flex flex-col md:flex-row items-center justify-center gap-20 px-5 py-8 ">
				<div>
					<span class="text-Brand1">&lt;p&gt;</span>
					<div class="pl-10">
						<h5 class="text-Brand1 text-3xl">Hello!</h5>
						<p class="text-white max-w-1xl">My name is Sinan and I specialize in web developement that
							utilizes
							HTML, CSS, JS, and
							REACT etc.
							I am a highly motivated individual and eternal optimist dedicated to writing clear, concise,
							robust
							code
							that works. Striving to never stop learning and improving. When I'm not coding, I am writing
							bolgs,
							reading, or picking up some new hands-on art project like photography. I like to have my
							perspective
							and
							belief systems challenged so that I see the world through new eyes.</p>
					</div>
					<span class="text-Brand1">&lt;p&gt;</span>
				</div>
				<img class="h-72" src="./public/images/homepage-desktop-image.png" alt="">
			</div>
		</div>
	</div>
</div>