<div class="px-4 xl:px-24 about-section py-8">
	<div class="flex flex-col gap-8 text-Brand1 text-xl justify-center py-5">
		<i class="fa fa-mouse text-center"></i>
		<i class="fa-solid text-center fa-arrow-down-long"></i>
	</div>
	<div class="flex gap-40 py-5 justify-center flex-wrap ">
		<div class="flex flex-col gap-6">
			<h1
				class="text-white self-start text-4xl bg-BG1 py-2 px-6 border-4 border-Brand1 font-Ubuntu rounded-tl-3xl rounded-br-3xl ">
				About Me
			</h1>

			<div class="flex flex-col items-start gap-4 px-5 py-8 ">
				<span class="text-Brand1">&lt;p&gt;</span>
				<h5 class="text-Brand1 text-3xl">Hello!</h5>
				<p class="pl-5  text-white max-w-3xl">My name is Sinan and I specialize in web developement that
					utilizes
					HTML,
					CSS, JS, and
					REACT etc.
					I am a highly motivated individual and eternal optimist dedicated to writing clear, concise, robust
					code
					that works. Striving to never stop learning and improving. When I'm not coding, I am writing bolgs,
					reading, or picking up some new hands-on art project like photography. I like to have my perspective
					and
					belief systems challenged so that I see the world through new eyes.</p>
				<span class="text-Brand1">&lt;p&gt;</span>
			</div>
		</div>
		<img class="h-[500px]" src="./public/images/homepage-desktop-image.png" alt="">
	</div>
</div>