<div class="bg-BG2 py-10">
	<div class="py-12 flex flex-col justify-center align-middle items-center gap-9 px-7">
		<h1 class="text-Brand1 font-Ubuntu H1U">Contact</h1>
		<svg xmlns="http://www.w3.org/2000/svg" width="240" height="12" viewBox="0 0 240 12" fill="none">
			<path
				d="M0.666667 6C0.666667 8.94552 3.05448 11.3333 6 11.3333C8.94552 11.3333 11.3333 8.94552 11.3333 6C11.3333 3.05448 8.94552 0.666667 6 0.666667C3.05448 0.666667 0.666667 3.05448 0.666667 6ZM228.667 6C228.667 8.94552 231.054 11.3333 234 11.3333C236.946 11.3333 239.333 8.94552 239.333 6C239.333 3.05448 236.946 0.666667 234 0.666667C231.054 0.666667 228.667 3.05448 228.667 6ZM6 7H234V5H6V7Z"
				fill="#12F7D6" />
		</svg>
		<p class="text-white text-center">
			I'm currently looking for new opportunities, my inbox is always open. Whether you have a question or just
			want to say hi, I'll try my best to get back to you!
		</p>


		<a href="mailto:Geraldson.a.p@gmail.com"
			class=" text-Brand1 border-Brand1 border font-Ubuntu text-lg px-7 py-3 rounded-tl-lg rounded-br-lg shadow-lg hover:bg-Brand2 transition duration-300  ease-in-out">Send
			Me A Message</a>
	</div>
	<div class="flex flex-col gap-8 px-12 overflow-hidden xl:px-96">
		<div class="flex gap-6 xl:gap-52 ">
			<div class="flex-1 flex flex-col gap-6 form-input-cv overflow-hidden">
				<label class="text-Brand1" for="name">Your name*</label>
				<input class="" type="text" name="name" id="name" placeholder="Your Name Here">
			</div>
			<div class="flex-1 flex flex-col gap-6 form-input-cv overflow-hidden">
				<label class="text-Brand1" for="email">Your Email*</label>
				<input class="" type="text" name="email" id="email" placeholder="Enter your email">
			</div>
		</div>
		<div class="flex-grow flex flex-col gap-6 form-input-cv overflow-hidden">
			<label class="text-Brand1" for="name">Your message*</label>
			<input class="self-stretch" type="text" name="message" id="message" placeholder="Enter your message">
		</div>

		<button class="bg-Brand1  self-center px-5 py-2 border rounded-full border-Brand1">
			Send Message <i class="fa fa-paper-plane"></i>
		</button>
	</div>
</div>
