<div class="px-3 py-2 bg-zinc-900 rounded-3xl border border-white flex-col justify-start items-start gap-6 inline-flex">
    @foreach (var item in items)
    {
        <MenuIcon IconName="@item.IconName" Href="@item.Href" />
    }
</div>

@code {
    public List<SideMenuItem> items = new List<SideMenuItem>();

    protected override void OnInitialized()
    {
        SeedItems();
    }

    public void SeedItems()
    {
        items.Add(new SideMenuItem { IconName = "home", Href = "Home" });
        items.Add(new SideMenuItem { IconName = "settings", Href = "Settings" });
        items.Add(new SideMenuItem { IconName = "logout", Href = "Logout" });
    }
}
