<div
    class="w-80 h-96 p-6 bg-gray-800 rounded-tl-3xl rounded-br-3xl shadow border-4 border-white flex-col justify-center items-start gap-8 inline-flex">
    <div class="flex-col justify-start items-center gap-8 flex">
        <div class="flex-col items-center gap-4 flex">
            <img class="rounded-3xl border-2 border-cyan-400" src="https://via.placeholder.com/96x96" />
            <div class="flex-col items-center">
                <div class="text-white text-3xl font-medium font-['IBM Plex Mono'] capitalize leading-10">
                    Sinan
                </div>
                <div class="text-white text-sm font-normal font-['IBM Plex Mono'] leading-none">
                    Full-stack developer
                </div>
            </div>
        </div>

        <div class="flex-col gap-4">
    <div class="flex-col gap-4">
        <div class="flex justify-center items-center gap-4">
            <div class="w-3.5 h-3.5 justify-center items-center">
                <div class="w-3.5 h-3.5 px-px py-0.5 justify-center items-center inline-flex"></div>
            </div>
            <div class="text-white text-sm font-normal font-['IBM Plex Mono'] leading-none">
                abdurrahman_sinan@hotmail.com
            </div>
        </div>
         <div class="flex justify-center items-center gap-4">
            <div class="w-3.5 h-3.5 justify-center items-center">
                <div class="w-3.5 h-3.5 px-px py-0.5 justify-center items-center inline-flex"></div>
            </div>
            <div class="text-white text-sm font-normal font-['IBM Plex Mono'] leading-none">
                abdurrahman_sinan@hotmail.com
            </div>
        </div>
         <div class="flex justify-center items-center gap-4">
            <div class="w-3.5 h-3.5 justify-center items-center">
                <div class="w-3.5 h-3.5 px-px py-0.5 justify-center items-center inline-flex"></div>
            </div>
            <div class="text-white text-sm font-normal font-['IBM Plex Mono'] leading-none">
                abdurrahman_sinan@hotmail.com
            </div>
        </div>
        <!-- Other contact information -->
    </div>
    <div class="flex justify-start items-start gap-4">
        <div class="px-2 bg-cyan-400 rounded-lg flex justify-center items-center gap-4">
            <div class="text-gray-800 text-sm font-normal font-['IBM Plex Mono'] leading-none">HTML</div>
        </div>
         <div class="px-2 bg-cyan-400 rounded-lg flex justify-center items-center gap-4">
            <div class="text-gray-800 text-sm font-normal font-['IBM Plex Mono'] leading-none">HTML</div>
        </div>
         <div class="px-2 bg-cyan-400 rounded-lg flex justify-center items-center gap-4">
            <div class="text-gray-800 text-sm font-normal font-['IBM Plex Mono'] leading-none">HTML</div>
        </div>
         <div class="px-2 bg-cyan-400 rounded-lg flex justify-center items-center gap-4">
            <div class="text-gray-800 text-sm font-normal font-['IBM Plex Mono'] leading-none">HTML</div>
        </div>
        <!-- Other skill badges -->
    </div>
</div>

    </div>
    <div class="flex-col justify-start items-center flex">
        <div class="px-6 py-2 bg-white rounded-3xl justify-center items-center gap-4 inline-flex">
            <div class="text-gray-800 text-xl font-normal font-['Ubuntu'] capitalize leading-normal">
                Download CV</div>
            <div class="w-6 h-6 justify-center items-center flex">
                <div class="w-6 h-6 p-0.5 justify-center items-center inline-flex">
                    <span class="material-symbols-outlined">arrow_downward</span>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
