@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth ;
  }
}


.name-gradient {
  background: #1B4C9B;
  background: linear-gradient(to right, #1B4C9B 0%, #9A1B7E 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.image-boder {
  
  @apply rounded-full p-2 bg-gradient-to-br from-fuchsia-800 to-indigo-600
}