@page "/"
<div class="mx-auto flex flex-col items-center gap-24 container max-w-screen-xl">
    <HeroSection Profile="ProfileService.Profile" />
    <MyTechStack Skills="ProfileService.Profile.Skills" />
    <Projects PersonalProjects="ProfileService.Profile.Projects" />
</div>

@code {
    [Inject]
    public ProfileService ProfileService { get; set; }
    private Profile Profile { get; set; }
    protected override async Task OnInitializedAsync()
    {
        ProfileService.OnProfileChanged += LoadProfile;
    }

    public void LoadProfile()
    {
        Profile = ProfileService.Profile;
        StateHasChanged();
    }
}