@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Varela+Round&display=swap');


@layer base {
    body{
        @apply font-[Raleway]
    }
    li{
        @apply px-4;
        @apply cursor-pointer
    }
    .ccontainer{
        @apply max-w-[1000px] mx-auto p-4 flex flex-col justify-center h-full w-full
    }
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.582),
        hwb(242 32% 10% / 0.753)
        
    )!important;
}

.opacitytrs{
    @apply transition-opacity duration-500
}

.btnEffect:hover{
    @apply outline outline-offset-2 outline-2 rounded-sm outline-[#2ba3e0]
    ease-in-out duration-100
}