<div id="tech-stack" class="flex flex-col justify-center items-center gap-24">
    <div>
        <h1 class="text-5xl text-primary font-medium text-center">My Tech Stack</h1>
        <p class="text-3xl text-primary ">Technologies I've been Working with recently</p>
    </div>

    <div class="flex gap-24 flex-wrap max-w-7xl ">
        @foreach (var skill in Skills)
        {
            <div class="flex flex-col gap-1 items-center">
                <img src="@skill.Link" alt="@skill.Name" class="w-14 h-14">
                <p class="text-primary text-lg">@skill.Name</p>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<Skill>? Skills { get; set; }

}
